{% extends "base_generic.html" %}

{% block content %}
<div class="main-content">
  <div class="event-list">
    {% if user.is_authenticated %}
      <a href="{% url 'event_app:event_create' %}" class="create-link">Create new event</a>
    {% endif %}
    {% if events %}
      <ul id="event-list-ul">
      {% for event in events %}

          <li class="event-list-item" data-event-id="{{ event.pk }}">
              <a href="{% url 'event_app:event_detail' event.pk %}">{{ event.title }}</a>
          </li>

      {% endfor %}
      </ul>
    {% else %}
      <p>No events available at the moment.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
